@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input:focus {
  @apply outline-none;
}

body {
  @apply font-titillium text-white text-opacity-70;
}

.poster-mask {
  background: rgb(0,0,0);
  background: linear-gradient(5deg, rgba(0, 0, 0, 0.75) 0%, rgba(255,23,23,0) 100%);
}

.t {@apply transition-all duration-300}
.fc {@apply flex items-center justify-center}
.f {@apply flex}